html{
    width:100vw;
    margin:0;
    padding:0;
}
body{
    background-color:#F4F6FC ;
    font-family: roboto;
    margin:0 20px;
    color:#6B708D;
}
section{
    padding:30px;
}
.header{
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   
}
.header-center{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding:0px;
   /* flex-grow: 2;      esto va al brakepoint*/
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
}
.active-link{
    color: #072AC8;
}
h1,h2,h3{
    color:#292E47;
}

.button-main{
    background-color: #072AC8;
    border: none;
    color:white;
    padding:15px 36px;
}

h1{
    font-size:40px;
}
h2{
    font-size:24px;
}
h3{
    font-size:14px;
}
.hero-section{
    display:flex;
    flex-direction: column;
}
.hero-text{
    font-size:20px;
}
.hero-text div{
margin: 10px;
}
.hero-buttons-section{
    display: flex;
    align-items: center;
    justify-content: space-around; /*cambiar mas adelante, no pued poner paddings en los elemtnos internos porque los uso en mas sitios*/

}
.text-based-links{
    font-size: 17px;
    text-decoration: none;
    color:#6B708D
}
.hero-image-section{
    position:relative;
}
.hero-image{
    height: 100%;
width: 100%;
top: 0px;
border-radius: 0px;

}
.hero-card-1{
    position: absolute; 
width: 190px;
height: 216px;
left: 0px; /*revisar mas adelante*/
top: 0px; /*revisar mas adelante*/
}

.hero-card-2{
    position: absolute;
width: 190px;
height: 193px;
right: 0px; /*revisar mas adelante*/
bottom: 0px; /*revisar mas adelante*/
}
.testimonial-h2{
    color:white;
}
#testimonial-section{
    background-color: #292E47;
    position:relative;
}#testimonial-section p{
    color:#FFC600;                          /*este entra en conflicto con .testimonial-name*/
    background-color: #292E47;
}
.logos-section{
    display:flex;
    justify-content: space-evenly ;
    align-items: center;
    filter:grayscale(100%);
    flex-wrap:wrap;
   
}
.logos-section img{
    margin:10px;
}
.cards{
    display:flex;
    flex-direction: column;
}
.cards div{
height: 350px;
width: 80vw;
font-size:20px;
box-shadow: 40px 5px 40px rgba(0, 0, 0, 0.05 );
margin: 30px 0px;
background-color: white; 
/*de momento lo dejo asñi a la espera de saber que se tiene que hacer con el js*/
}
#mailing-section{
    display:flex;
    flex-direction: column;
    background-color: #FFC600;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cards-links{
    color: #072AC8;
    text-decoration:none;
    font-size: 17px;
}
.card-icon{
    background-color: #ECF7FF;
    border-radius: 90px;
    padding:10px;
}

.text-box{
    border-style: none;
    padding:15px 0;
    background: url(./mail-us/mail-icon.png) no-repeat scroll 7px 7px; 
    padding-left:40px;
    background-color: #fff;
}
.blue-mark-testimonial{
    background-image: url(./testimonial-section/orbit.png);
    object-fit: cover;
}

#personaje1, #personaje2, #personaje3, #personaje4{
    height: 30px;
    position: absolute;
    margin:15px;
}
#personaje1{
top:0px;
left:0px;
}
#personaje2{
top:0px;
right:0px;
}
#personaje3{
bottom:0px;
left:0px;
}
#personaje4{
bottom:0px;
right:0px;
}
.testimonial{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.testimonial img{
    height:50px;
    width: 50px;
    border-radius: 50%;
 
    margin-right:15px;
}
.testimonial-name{
    color:#A2D6F9;
    margin:0;
    font-size: 15px;
}
.testimonial-site{
    font-size:13px;
    margin:0px;
    color:#F4F6FC;
}
.inner-cards{
    display:flex;
    flex-direction: column;
    align-items: baseline;

}
.inner-cards img{
    height:50px;
}
footer{
    display:flex;
    margin:15px;
}
.footer-links{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: center;
    
}
.footer-links a{
    margin: 20px;

}

@media(min-width:361px){

  
    body{
        background-color:#F4F6FC ;
        font-family: roboto;
        margin:0 20px;
        color:#6B708D;
    }
    }
    .header{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
               
    }
    .header-center{
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        padding:0px;
        flex-grow: 2;      
    }
    .active-link{
        color: #072AC8;
    }
    h1,h2,h3{
        color:#292E47;
    }
    
    .button-main{
        background-color: #072AC8;
        border: none;
        color:white;
        padding:15px 36px;
    }
    
    h1{
        font-size:40px;
    }
    h2{
        font-size:24px;
    }
    h3{
        font-size:14px;
    }
    .hero-section{
        display:flex;
        flex-direction: column;
    }
    .hero-text{
        font-size:20px;
    }
    .hero-text div{
    margin: 10px;
    }
    .hero-buttons-section{
        display: flex;
        align-items: center;
        justify-content: space-around; /*cambiar mas adelante, no pued poner paddings en los elemtnos internos porque los uso en mas sitios*/
    
    }
    .text-based-links{
        font-size: 17px;
        text-decoration: none;
        color:#6B708D
    }
    .hero-image-section{
        position:relative;
    }
    .hero-image{
        height: 100%;
    width: 100%;
    top: 0px;
    border-radius: 0px;
    
    }
    .hero-card-1{
        position: absolute; 
    width: 190px;
    height: 216px;
    left: 0px; /*revisar mas adelante*/
    top: 0px; /*revisar mas adelante*/
    }
    
    .hero-card-2{
        position: absolute;
    width: 190px;
    height: 193px;
    right: 0px; /*revisar mas adelante*/
    bottom: 0px; /*revisar mas adelante*/
    }
    .testimonial-h2{
        color:white;
    }
    #testimonial-section{
        background-color: #292E47;
        position:relative;
    }#testimonial-section p{
        color:#FFC600;                          /*este entra en conflicto con .testimonial-name*/
        background-color: #292E47;
    }
    .logos-section{
        display:flex;
        justify-content: space-evenly ;
        align-items: center;
        filter:grayscale(100%);
        flex-wrap:wrap;
       
    }
    .logos-section img{
        margin:10px;
    }
    .cards{
        display:flex;
        flex-direction: column;
    }
    .cards div{
    height: 350px;
    width: 80vw;
    font-size:20px;
    box-shadow: 40px 5px 40px rgba(0, 0, 0, 0.05 );
    margin: 30px 0px;
    background-color: white; 
    /*de momento lo dejo asñi a la espera de saber que se tiene que hacer con el js*/
    }
    #mailing-section{
        display:flex;
        flex-direction: column;
        background-color: #FFC600;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .cards-links{
        color: #072AC8;
        text-decoration:none;
        font-size: 17px;
    }
    .card-icon{
        background-color: #ECF7FF;
        border-radius: 90px;
        padding:10px;
    }
    
    .text-box{
        border-style: none;
        padding:15px 0;
        background: url(./mail-us/mail-icon.png) no-repeat scroll 7px 7px; 
        padding-left:40px;
        background-color: #fff;
    }
    .blue-mark-testimonial{
        background-image: url(./testimonial-section/orbit.png);
        object-fit: cover;
    }
    
    #personaje1, #personaje2, #personaje3, #personaje4{
        height: 30px;
        position: absolute;
        margin:15px;
    }
    #personaje1{
    top:0px;
    left:0px;
    }
    #personaje2{
    top:0px;
    right:0px;
    }
    #personaje3{
    bottom:0px;
    left:0px;
    }
    #personaje4{
    bottom:0px;
    right:0px;
    }
    .testimonial{
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    .testimonial img{
        height:50px;
        width: 50px;
        border-radius: 50%;
     
        margin-right:15px;
    }
    .testimonial-name{
        color:#A2D6F9;
        margin:0;
        font-size: 15px;
    }
    .testimonial-site{
        font-size:13px;
        margin:0px;
        color:#F4F6FC;
    }
    .inner-cards{
        display:flex;
        flex-direction: column;
        align-items: baseline;
    
    }
    .inner-cards img{
        height:50px;
    }
    footer{
        display:flex;
        margin:15px;
    }
    .footer-links{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-content: center;
        
    }
    .footer-links a{
        margin: 20px;
    
    }
    
    
    }